sudo: false
language: python
python:
  - 2.7
  - 3.5
  - 3.6
  - 3.7

addons:
  apt:
    sources:
      - sourceline: ppa:pkg-opendnssec/ppa
    packages:
      - xmlsec1
      - libxml2-dev
      - libxslt-dev
      - libsofthsm2
      - softhsm2
      - opensc
      - libengine-pkcs11-openssl
      - swig

install:
  - pip install pykcs11
  - pip install nose
  - pip install coveralls

script:
  - coverage run --source=xmlsec setup.py nosetests -vv -d

after_success:
  - coveralls
